---
import Link from "../components/link.astro";
import { SOCIALS } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={undefined} description={undefined}>
  <main class="flex flex-col gap-12">
    <section class="flex flex-col">
      <h1 class="text-3xl leading-none text-balance tracking-tight font-bold mt-8">Bachitter Chahal</h1>
      <p class="mt-0! text-primary">Product Engineer</p>
      <p class="text-foreground mt-6">
        Hi! I am a Product Engineer based in Vancouver, Canada. I love building and
        breaking things. Everything I have learned has been taught by my curiosity about{
          " "
        }
        <span class="font-bold text-foreground">how</span> and <span class="font-bold text-foreground">why</span> things work
        the way they work.
      </p>
      <p class="text-foreground mt-6">
        Currently, I am building{" "}
        <Link target="_blank" rel="noreferrer" href="https://favite.co"> favite </Link>, a
        simple bookmarking app and doing a deep dive into backend engineering and infra.
      </p>
      <p class="flex flex-col items-start gap-2 mt-6">
        <ul class="my-0 ml-0 list-none text-foreground">
          {
            SOCIALS.map((link) => (
              <li class="flex gap-1 text-[14px]">
                <span>{link.label}</span>
                <span>/</span>
                <Link target="_blank" rel="noreferrer" href={link.url}>
                  {link.handle}
                </Link>
              </li>
            ))
          }
        </ul>
      </p>
    </section>
  </main>
</BaseLayout>
