---
  import { getLiveCollection } from "astro:content";
  import Lightbox from "../components/Lightbox.astro";
  import BaseLayout from "../layouts/BaseLayout.astro";

  export const prerender = false;

  Astro.response.headers.set("Cache-Control", "public, max-age=3600");

  const { entries: photos } = await getLiveCollection("photos");
---
<BaseLayout title="Photos" description="Random dump of unedited photos.">
  <section>
    <h2 class="font-mono text-xs font-medium uppercase tracking-wider text-tertiary mb-6">
      Photos
    </h2>
    {photos && photos.length > 0 ? (
      <div class="grid grid-cols-1 xs:grid-cols-2 gap-4 space-y-4">
        {photos.map(({ data: photo }, index: number) => (
          <div 
           class={`relative break-inside-avoid overflow-hidden border border-border bg-background-secondary group cursor-zoom-in mb-4 aspect-3/2`}
          >
            <img 
              data-lightbox 
              src={photo.thumbnailUrl} 
              data-large-url={photo.largeUrl}
              data-metadata={JSON.stringify(photo)}
              class="relative w-full z-50 h-full object-cover cursor-zoom-in opacity-80 grayscale contrast-110 transition-all duration-500 group-hover:grayscale-0 group-hover:opacity-100 group-hover:scale-105" 
              data-index={index}
              alt={`Photo taken with ${photo.camera}`}
            />
            <div class="absolute z-10 inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity" />
          </div>
        ))}
      </div>
    ) : (
      <div class="py-12 text-center">
        <div class="text-tertiary font-mono text-sm mb-2">No photos yet</div>
        <p class="text-secondary text-sm">Photo gallery will appear here</p>
      </div>
    )}
  </section>
  <Lightbox/>
</BaseLayout>
