---
  import type { Photo } from "../lib/loaders/photos";

  interface Props {
    photo: Photo;
    index: number;
  }

  const { photo, index } = Astro.props;
---
<div
  class="relative break-inside-avoid overflow-hidden border border-border bg-background-secondary group cursor-zoom-in"
>
  <img
    data-lightbox
    src={photo.thumbnailUrl}
    data-large-url={photo.largeUrl}
    data-metadata={JSON.stringify(photo)}
    class="relative w-full z-50 h-auto object-contain cursor-zoom-in opacity-80 grayscale contrast-110 transition-all duration-500 group-hover:grayscale-0 group-hover:opacity-100 group-hover:scale-105"
    data-index={index}
    alt={`Photo taken with ${photo.camera}`}
    loading="lazy"
  >
  <div
    class="absolute z-10 inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity"
  />
</div>
