---
import "../styles/globals.css";
import "@fontsource-variable/inter/wght.css";
import "@fontsource-variable/inter/wght-italic.css";

import "@fontsource/redaction-20/400.css";
import "@fontsource/redaction-20/700.css";
import "@fontsource/redaction-20/400-italic.css";
import "@fontsource/redaction-20/700-italic.css";

import "@fontsource/ibm-plex-mono";

import Sign from "../components/sign.astro";

import { NAVIGATION } from "../consts.ts";

export interface Props {
  title: string | undefined;
  description: string | undefined;
}

const { title, description } = Astro.props;
const metaTitle = Astro.url.pathname === "/" ? "Bachitter Chahal" : `${title} // Bachitter`;
const metaDescription = description
  ? description
  : "Hi! I am Bachitter Chahal, a Product Engineer based in Vancouver, Canada.";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Icons -->
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-icon.png" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />

    <!-- Manifest -->
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("/rss.xml", Astro.site)}
    />

    <!-- Umami Analytics -->
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-domains="bachitter.dev"
      data-website-id="cfd2d291-8e0a-4160-b788-434caca658aa"></script>
  </head>
  <body class="min-h-dvh bg-background font-sans antialiased">
    <div class="mx-auto w-full max-w-xl h-dvh px-6 py-24">
      <header class="fixed max-w-xl w-full mx-auto bottom-0 left-0 right-0 px-6 z-50">
        <nav
          class="bg-linear-to-t from-background from-50% to-transparent to-75% w-full pb-2.5 pt-8 flex gap-2 justify-between items-center"
        >
          <div class="flex gap-2">
            {
              NAVIGATION.map((link) => {
                const isCurrent =
                  Astro.url.pathname === `${link.slug}/` ||
                  Astro.url.pathname === `${link.slug}`;
                return (
                  <a
                    href={link.slug}
                    aria-current={isCurrent ? "page" : undefined}
                    class={
                      "p-0 h-auto inline-flex items-center justify-center gap-x-2 whitespace-nowrap text-sm font-semibold transition-colors focus-visible:ring-2 focus-visible:ring-offset-background focus-visible:ring-offset-2 focus-visible:ring-focus-ring focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 underline-offset-4 text-foreground bg-transparent hover:underline rounded-md aria-[current]:text-primary-element-foreground"
                    }
                  >
                    {link.label}
                  </a>
                );
              })
            }
          </div>
        </nav>
      </header>
      <slot />
      <footer class="pt-24 flex items-center justify-between pb-10">
        <p class="text-foreground-subtle">
          &copy; <span id="footer-year">{currentYear}</span>
        </p>
        <Sign class="w-20 fill-white" />
      </footer>
    </div>
  </body>
</html>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
