---
import { join } from "node:path";
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { AstroFont } from "astro-font";
import Navbar from "~/components/Navbar.astro";
import "~/styles/globals.css";

type Props = {
  title: string;
  description: string;
  image?: string;
};

const { title, description, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('b-theme')) {
			return localStorage.getItem('b-theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('b-theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({duration: "0.2s"})} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bachitter" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- link tags -->
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml">

    <script is:inline defer data-domain="bachitter.dev" src="https://analytics.bachitter.dev/js/script.js"></script>

 <AstroFont
      config={[
        {
          name: "Hubot-Sans",
          src: [
            {
              style: 'normal',
              path: join(process.cwd(), 'public', 'fonts', 'Hubot-Sans.woff2'),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>

  <body class="antialiased bg-background text-sm" >
    <div class="mx-auto max-w-2xl h-dvh py-4 px-6">
      <div class="mt-20" />
      <slot />
      <footer class="fixed max-w-2xl w-full mx-auto bottom-0 bg-gradient-to-t from-background pt-8" >
        <Navbar />
      </footer>
    </div>
  </body>
</html>
