---
  export const prerender = true;

  import "../../styles/globals.css";

  import "@fontsource-variable/inter";
  import "@fontsource/jetbrains-mono/400.css";
  import "@fontsource/jetbrains-mono/500.css";

  import { type CollectionEntry, getCollection, render } from "astro:content";
  import { INFO } from "../../lib/data";
  import { formatDate } from "../../lib/utils";

  interface Props {
    post: CollectionEntry<"writings">;
  }

  export async function getStaticPaths() {
    const posts = await getCollection("writings");

    return posts.map((post: CollectionEntry<"writings">) => ({
      params: {
        slug: post.data.slug,
      },
      props: {
        post,
      },
    }));
  }

  const { post } = Astro.props;

  const metaTitle = `${post.data.title} - Bachitter`;
  const metaDescription = post.data.description;

  const canonicalURL = new URL(Astro.url.pathname, Astro.site);

  const { slug } = Astro.params;

  if (post.data.slug !== slug) {
    return Astro.redirect("/404");
  }

  const { Content } = await render(post);
---
<html lang="en" class="dark">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8">
    <meta name="generator" content={Astro.generator}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-icon.png">

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL}>

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle}>
    <meta name="description" content={metaDescription}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:title" content={metaTitle}>
    <meta property="og:description" content={metaDescription}>
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content={Astro.url}>
    <meta property="twitter:title" content={metaTitle}>
    <meta property="twitter:description" content={metaDescription}>

    <!-- Manifest -->
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)}>

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href={new URL("/rss.xml", Astro.site)}>

    <!-- Umami Analytics -->
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-domains="bachitter.dev"
      data-website-id="cfd2d291-8e0a-4160-b788-434caca658aa"
    ></script>
  </head>
  <body class="px-6 py-12 max-w-2xl mx-auto">
    <header class="flex flex-col gap-12">
      <a
        href="/writing"
        class="font-mono text-xs font-medium uppercase tracking-wider text-tertiary hover:text-primary"
      >
        ← Back to Posts
      </a>
      <div>
        <h1 class="text-4xl font-semibold leading-tight tracking-tight mb-4 text-primary">
          {post.data.title}
        </h1>
        <div class="flex gap-2 items-center mb-8 pb-8 border-b border-border">
          <span class="font-mono text-xs text-tertiary">{formatDate(post.data.publishedAt!)}</span>
          <span class="text-tertiary">·</span>
          <span class="font-mono text-xs text-tertiary">{post.data.readingTime}</span>
        </div>
      </div>
    </header>
    <section>
      <article class="prose">
        <Content/>
      </article>
    </section>
    <footer
      class="mt-20 pt-8 border-t border-border flex justify-between items-center flex-wrap gap-4"
    >
      <div class="flex gap-6">
        <a href={`mailto:${INFO.email}`} class="text-accent font-medium hover:underline">Email</a>
        <a href="/rss.xml" class="text-accent font-medium hover:underline">RSS</a>
      </div>
      <div class="font-mono text-xs text-tertiary">
        © <span id="footer-year"/>
        {" "}
        {INFO.name.split(" ")[0]}
      </div>
    </footer>
  </body>
</html>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
